schema/latest/DHARMA_ProsodySchema.rng

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Prosody Schema</title>
                <author>Axelle Janiak</author>
            </titleStmt>
            <publicationStmt>
                <p>for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns">http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Friday 11th March 2022 03:58:02 PM</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change who="part:axja" when="2022-05-30">Adding note element</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>TEI schema for prosody</p>
            <schemaSpec ident="DHARMA_ProsodySchema_v01" docLang="en" prefix="tei_" xml:lang="en">
                <moduleRef key="core"
                    except="abbr add addrLine address analytic biblScope biblStruct binaryObject cb choice cit corr del desc distinct divGen editor ellipsis email emph expan foreign gap gb gloss graphic headItem headLabel imprint index l lb lg measureGrp media meeting mentioned milestone monogr noteGrp num orig pb postBox postCode publisher q rb ref reg relatedItem rs rt ruby said series sic soCalled sp speaker stage street teiCorpus term textLang time unclear unit"/>
                <moduleRef key="tei" except=""/>
                <moduleRef key="header"
                    except="appInfo application biblFull cRefPattern calendar calendarDesc catDesc catRef category citeData citeStructure classCode classDecl conversion correction correspAction correspContext correspDesc creation distributor editorialDecl extent geoDecl handNote hyphenation interpretation keywords listChange listPrefixDef namespace normalization notesStmt prefixDef punctuation quotation refState refsDecl rendition samplingDecl schemaRef scriptNote segmentation seriesStmt sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy textClass unitDecl unitDef xenoData"/>
                <moduleRef key="textstructure"
                    except="argument back byline closer dateline div1 div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition docImprint docTitle epigraph floatingText group imprimatur opener postscript salute signed titlePage titlePart trailer"/>
                <moduleRef key="figures" except="figDesc figure formula notatedMusic"/>
                <moduleRef key="linking"
                    except="alt altGrp anchor annotation join joinGrp link linkGrp listAnnotation standOff timeline when"/>
                <elementSpec ident="measure" module="core" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="commodity" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="unitRef" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="unit" mode="change" usage="req">
                            <defaultVal>syllable</defaultVal>
                            <valList type="closed" mode="replace">
                                <valItem ident="syllable"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="name" module="core" mode="change">
                    <!-- <constraintSpec scheme="schematron" ident="name">
                        <constraint>
                            <sch:rule context="tei:name[ancestor::tei:body]/text()">
                                <sch:assert
                                    test="@xml:lang"
                            >@xml:lang is mandatory on the name of any prosodic pattern to identify the language of use.</sch:assert>
                            </sch:rule>
                        </constraint>
                    </constraintSpec>-->
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="calendar" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="datingMethod" mode="delete"/>
                        <attDef ident="datingPoint" mode="delete"/>
                        <attDef ident="evidence" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="from-custom" mode="delete"/>
                        <attDef ident="from-iso" mode="delete"/>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="instant" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="notAfter-custom" mode="delete"/>
                        <attDef ident="notAfter-iso" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notBefore-custom" mode="delete"/>
                        <attDef ident="notBefore-iso" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                        <attDef ident="period" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                        <attDef ident="to-custom" mode="delete"/>
                        <attDef ident="to-iso" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="when-custom" mode="delete"/>
                        <attDef ident="when-iso" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="seg" module="linking" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="datcat" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="function" mode="delete"/>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="met" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="notation" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="real" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="rhyme" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="valueDatcat" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="type" mode="change" usage="req">
                            <valList type="open" mode="replace">
                                <valItem ident="xml"/>
                                <valItem ident="prosody"/>
                                <valItem ident="gana"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="ptr" module="core" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cRef" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="decls" mode="delete"/>
                        <attDef ident="evaluate" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="mimeType" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="targetLang" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="target" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="citedRange" module="core" mode="change">
                    <constraintSpec scheme="schematron" ident="note">
                        <constraint><sch:rule context="tei:citedRange"><sch:report
                            test="child::tei:note and ancestor::tei:listBibl"
                            >Note can not be used
                            as a child of the element citedRange, only as a sibling of this
                            element</sch:report></sch:rule></constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="evaluate" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="target" mode="delete"/>
                        <attDef ident="targetLang" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="unit" mode="change">
                            <valList type="closed" mode="replace">
                                <valItem ident="page"/>
                                <valItem ident="volume"/>
                                <valItem ident="book"/>
                                <valItem ident="item"/>
                                <valItem ident="figure"/>
                                <valItem ident="plate"/>
                                <valItem ident="table"/>
                                <valItem ident="appendix"/>
                                <valItem ident="note"/>
                                <valItem ident="part"/>
                                <valItem ident="entry"/>
                                <valItem ident="line"/>
                                <valItem ident="section"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="bibl" module="core" mode="change">
                    <constraintSpec scheme="schematron" ident="siglum">
                        <constraint><!--<sch:rule context="tei:bibl"><sch:report
                            test="parent::tei:listBibl[@type='primary'] and not(@n)">@n mandatory in
                            the primary bibliography to declare
                            sigla</sch:report></sch:rule>--><sch:rule
                            context="tei:bibl[ancestor::tei:listBibl]"><sch:report
                            test="child::tei:note[following-sibling::tei:*]"
                            >Note should be the last
                                    element of the bibl</sch:report></sch:rule></constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="default" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sortKey" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="status" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="rend" mode="change">
                            <valList type="closed" mode="replace">
                                <valItem ident="omitname"/>
                                <valItem ident="ibid"/>
                                <valItem ident="siglum"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="listBibl" module="core" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="default" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sortKey" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="author" module="core" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="calendar" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="datingMethod" mode="delete"/>
                        <attDef ident="datingPoint" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="from-custom" mode="delete"/>
                        <attDef ident="from-iso" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="notAfter-custom" mode="delete"/>
                        <attDef ident="notAfter-iso" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notBefore-custom" mode="delete"/>
                        <attDef ident="notBefore-iso" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                        <attDef ident="period" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                        <attDef ident="to-custom" mode="delete"/>
                        <attDef ident="to-iso" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="when-custom" mode="delete"/>
                        <attDef ident="when-iso" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <moduleRef key="namesdates"
                    except="addName affiliation age birth bloc climate country death district education event faith floruit genName geo geogFeat geogName langKnowledge langKnown listEvent listNym listObject listOrg listPerson listPlace listRelation location nameLink nationality nym object objectIdentifier objectName occupation offset org orgName persPronouns person personGrp persona place placeName population region relation residence roleName settlement sex socecStatus state terrain trait"/>
                <elementSpec ident="forename" module="namesdates" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="surname" module="namesdates" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="ref" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="persName" module="namesdates" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="calendar" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="datingMethod" mode="delete"/>
                        <attDef ident="datingPoint" mode="delete"/>
                        <attDef ident="evidence" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="from-custom" mode="delete"/>
                        <attDef ident="from-iso" mode="delete"/>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="instant" mode="delete"/>
                        <attDef ident="key" mode="delete"/>
                        <attDef ident="n" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="notAfter-custom" mode="delete"/>
                        <attDef ident="notAfter-iso" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notBefore-custom" mode="delete"/>
                        <attDef ident="notBefore-iso" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                        <attDef ident="period" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="resp" mode="delete"/>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                        <attDef ident="source" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                        <attDef ident="to-custom" mode="delete"/>
                        <attDef ident="to-iso" mode="delete"/>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="when" mode="delete"/>
                        <attDef ident="when-custom" mode="delete"/>
                        <attDef ident="when-iso" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:id" mode="delete"/>
                        <attDef ident="xml:lang" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="note" module="core" mode="change">
                    <attList>
                        <attDef ident="ana" mode="delete"/>
                        <attDef ident="anchored" mode="delete"/>
                        <attDef ident="cert" mode="delete"/>
                        <attDef ident="change" mode="delete"/>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="corresp" mode="delete"/>
                        <attDef ident="evaluate" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="facs" mode="delete"/>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="next" mode="delete"/>
                        <attDef ident="place" mode="delete"/>
                        <attDef ident="prev" mode="delete"/>
                        <attDef ident="rend" mode="delete"/>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="style" mode="delete"/>
                        <attDef ident="subtype" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                        <attDef ident="targetEnd" mode="delete"/>
                        <attDef ident="targetLang" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
